target/
.idea
*.iml
atlassian-ide-plugin.xml
coverage-error.log
.DS_Store
*.sublime-*
.elasticbeanstalk
venv/
node_modules/
front/emanx/node_modules
.run/
__pycache__/
build/
.sdkmanrc
localazy.keys.json
/front/emanx/.angular/
.aider*
.env
